<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chrome"></parameter>
<listeners>
		
		<listener class-name="listeners.Listeners"></listener>
	<listener class-name="listeners.RetryListener"></listener>
	</listeners>

  <test thread-count="5" name="Test">
    <classes>
     <!--
      <class name="testscripts.ManageNewsTest"> <methods><include name="newssearch"></include></methods></class>
      <class name="testscripts.CategoryTest"><methods><include name="deletecategory"></include></methods></class>
       <class name="testscripts.ManageNewsTest"><methods><include name="editnews"></include></methods></class>
        <class name="testscripts.CategoryTest"><methods><include name="editcategorylist"></include></methods></class>
        <class name="testscripts.AdminUsersTest"></class>
      -->
      
       
      <class name="testscripts.ManageContactTest"></class>
         
     
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
